### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Gradle
.gradle
# Ignore Gradle build output directory
build
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache

### LemonTTB
# ignore the log files
*-LemonTTB-log.txt
# ignore user files
*-LemonTTB-user.txt
# ignore dev configs
*Config.txt.dev

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Intellij
.idea